<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mm.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.mm.entity.User">
        <id column="id" property="id"/>
        <result column="user_name" property="username"/>
        <result column="pass_word" property="password"/>
        <result column="gender" property="gender"/>
        <result column="nick_name" property="nickName"/>
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, pass_word, gender, nick_name, gmt_create, gmt_modified
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
    </select>

    <select id="get" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.mm.entity.User">
        INSERT INTO
        user
        (user_name,pass_word,gender,nick_name,gmt_create,gmt_modified)
        VALUES
        (#{username}, #{password}, #{gender}, #{nickName}, #{gmtCreate},#{gmtModified})
    </insert>

    <update id="update" parameterType="com.mm.entity.User">
        UPDATE
        user
        SET
        <trim suffixOverrides=",">
            <if test="username != null">user_name = #{username},</if>
            <if test="password != null">pass_word = #{password},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="gmtModified != null">gmt_modified = #{gmtModified},</if>
        </trim>
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM
        user
        WHERE
        id =#{id}
    </delete>

</mapper>